/* mobile divice 375px*/

/* mobile divice 576px*/
@media screen and (max-width: 576px) {
	.container {
		max-width: 100%;
		margin: 0 auto;
	}
	.content-area {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 10px;
	}
	/*  */
	/* shared style */
	.section-title-black {
		font-size: 1.5rem;
	}
	.section-title-orange {
		font-size: 1.5rem;
	}
	.paragraph-text {
		font-size: 16px;
	}
	/*  */
	/* nav section */
	.nav {
		margin-top: 20px;
	}
	.nav-logo {
		max-width: 80%;
		max-height: 80%;
	}
	.nav-link {
		display: none;
	}
	.nav-cart > p {
		font-size: 18px;
	}
	/* banner section */
	.banner {
		margin-top: 80px;

		grid-template-columns: repeat(1, 1fr);
		gap: 35px;
	}
	.banner-right {
		order: -1;
	}
	.banner-title-black,
	.banner-title-orange {
		font-size: 40px;
	}
	/* plants section */
	.plants-section {
		margin-top: 80px;
	}
	.plants-section-content {
		width: 100%;
	}
	.plants-heading-title {
		margin-bottom: 16px;
	}
	.plants-card-content {
		margin-top: 40px;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
		column-gap: 15px;
	}
	.plants-card-title,
	.plants-card-price {
		font-size: 18px;
	}
	.plants-card-title {
		margin-top: 20px;
	}
	.plants-card-price {
		margin-top: 15px;
	}
	.plants-card-btn {
		padding: 16px 0;
		font-weight: 500;
		margin-top: 20px;
	}
	/* plants-lover-section */
	.plants-lover-section {
		margin-top: 80px;
		grid-template-columns: repeat(1, 1fr);
		gap: 18px;
	}
	.plants-lover-right h2 {
		display: inline;
	}
	.plants-lover-title {
		font-size: 24px;
	}
	.plants-lover-badge {
		display: none;
	}
	.plants-lover-list-item > li {
		margin-top: 18px;
	}
	/* latest-section */
	.latest-section {
		margin-top: 80px;
	}
	.latest-section-content {
		width: 90%;
		margin: 0 auto;
	}
	.latest-section-content > p {
		margin-top: 16px;
	}
	/* latest-section-img */
	.latest-section-img {
		margin-top: 60px;
		grid-template-columns: 1fr;
		gap: 20px;
	}
	.latest-img-left {
		gap: 20px;
	}
	.latest-img-right-title {
		font-size: 24px;
	}
	.latest-img-right-link a {
		font-size: 18px;
	}
	.latest-img-righ {
		padding: 65px 0;
	}
	/* join section */
	.join-section {
		margin-top: 70px;
	}
	.join-section-content {
		padding-top: 110px;
		padding-bottom: 64px;
	}
	.join-section-title {
		font-size: 20px;
	}
	.join-section-inp-btn {
		margin-top: 16px;
	}
	.join-section-inp-btn input[type] {
		padding-left: 15px;
		width: 55%;
	}
	.join-section-inp-btn input[placeholder] {
		font-size: 14px;
	}
	.join-section-inp-btn button {
		padding: 12px 20px;
		font-size: 14px;
		font-weight: 400;
	}
	/* footer section */
	.footer-section {
		margin-top: 50px;
		margin-bottom: 50px;
		/*  */
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.footer-content p {
		width: 90%;
		margin-top: 16px;
	}
	.footer-list-item-one ul,
	.footer-list-item-two ul {
		gap: 25px;
	}
	.footer-link {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 24px;
	}
}
