/* mobile divice 375px*/

/* mobile divice 576px*/
@media screen and (max-width: 576px) {
	.container {
		max-width: 100%;
		margin: 0 auto;
	}
	.content-area {
		max-width: 100%;
		margin: 0 auto;
		padding: 0 10px;
	}
	/*  */
	/* shared style */
	.paragraph-text {
		font-size: 16px;
	}
	/*  */
	/* nav section */
	.nav {
		margin-top: 20px;
	}
	.nav-logo {
		max-width: 80%;
		max-height: 80%;
	}
	.nav-link {
		display: none;
	}
	.nav-cart > p {
		font-size: 18px;
	}
	/* banner section */
	.banner {
		margin-top: 80px;

		grid-template-columns: repeat(1, 1fr);
		gap: 35px;
	}
	.banner-right {
		order: -1;
	}
	.banner-title-black,
	.banner-title-orange {
		font-size: 40px;
	}
	/* plants section */
	.plants-section {
		margin-top: 80px;
	}
	.plants-section-content {
		width: 100%;
	}
	.plants-heading-title {
		margin-bottom: 16px;
	}
	.plants-card-content {
		margin-top: 40px;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
		column-gap: 15px;
	}
	.plants-card-title,
	.plants-card-price {
		font-size: 18px;
	}
	.plants-card-title {
		margin-top: 20px;
	}
	.plants-card-price {
		margin-top: 15px;
	}
	.plants-card-btn {
		padding: 16px 0;
		font-weight: 500;
		margin-top: 20px;
	}
	/* plants-lover-section */
	.plants-lover-section {
		margin-top: 80px;
		grid-template-columns: repeat(1, 1fr);
	}
	.plants-lover-badge {
		display: none;
	}
	.plants-lover-list-item > li {
		margin-top: 18px;
	}
}
