/*  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Noto Serif", serif;
}
:root {
	--primary-color: #000000;
	--secondary-color: #e95a08;
	--paragraph-text: rgba(0, 0, 0, 0.5);
}
/* font-family: "Noto Serif", serif; */
/* font-family: "Inter", sans-serif; */
body {
	background-color: #f5f8ff;
	border: 1px solid red;
}
/* content layout */
.container {
	max-width: 1440px;
	margin: 0 auto;
	border: 1px solid black;
}
.content-area {
	max-width: 1140px;
	margin: 0 auto;
	border: 1px solid palegreen;
}
/* shared style */
.primary-text-black {
	color: var(--primary-color);
	font-family: "Noto Serif", serif;
	font-weight: 700;
}
.primary-text-orange {
	color: var(--secondary-color);
	font-family: "Noto Serif", serif;
	font-weight: 700;
}
.paragraph-text {
	color: var(--paragraph-text);
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
/* nav section */
.nav {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.nav-logo {
	max-width: 80%;
	max-height: 80%;
}
.nav-right {
	display: flex;
	align-items: center;
	gap: 45px;
}
.nav-link ul {
	display: flex;
	gap: 45px;
	align-items: center;
}
.nav-link ul li {
	list-style: none;
}
.nav-link ul li a {
	text-decoration: none;
}
.nav-link-home {
	color: #252432;
	font-weight: 700;
	font-family: "Inter", sans-serif;
}
.nav-link-shop,
.nav-link-about {
	color: #8987a1;
	font-weight: 400;
	font-family: "Inter", sans-serif;
}
.nav-cart {
	display: flex;
	align-items: center;
	gap: 10px;
}
.nav-cart > p {
	font-size: 18px;
	color: var(--primary-color);
	font-weight: 400;
	font-family: "Inter", sans-serif;
}
/* banner section */
.banner{
    margin-top: 100px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
    align-items: end;
}

.banner-title-black,
.banner-title-orange {
	font-size: 55px;
}
.banner-image{
    max-width: 100%;
    max-height: 100%;
}