/*  */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Noto Serif", serif;
}
:root {
	--primary-color: #000000;
	--secondary-color: #e95a08;
	--paragraph-text: rgba(0, 0, 0, 0.5);
	--card-text: #111111;
	--accent-text: #ffffff;
}
/* font-family: "Noto Serif", serif; */
/* font-family: "Inter", sans-serif; */
body {
	background-color: #f5f8ff;
	border: 1px solid red;
}
/* content layout */
.container {
	max-width: 1440px;
	margin: 0 auto;
	border: 1px solid black;
}
.content-area {
	max-width: 1140px;
	margin: 0 auto;
	border: 1px solid palegreen;
}
/* shared style */
.primary-text-black {
	color: var(--primary-color);
	font-family: "Noto Serif", serif;
	font-weight: 700;
}
.primary-text-orange {
	color: var(--secondary-color);
	font-family: "Noto Serif", serif;
	font-weight: 700;
}
/* shared section heading title */
.section-title-black {
	color: var(--primary-color);
	font-family: "Noto Serif", serif;
	font-size: 2.5rem;
	font-weight: 700;
}
.section-title-orange {
	color: var(--secondary-color);
	font-family: "Noto Serif", serif;
	font-size: 2.5rem;
	font-weight: 700;
}
/* shared paragraph-text */
.paragraph-text {
	color: var(--paragraph-text);
	font-size: 20px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
/*  */
/* nav section */
.nav {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.nav-logo {
	max-width: 80%;
	max-height: 80%;
}
.nav-right {
	display: flex;
	align-items: center;
	gap: 45px;
}
.nav-link ul {
	display: flex;
	gap: 45px;
	align-items: center;
}
.nav-link ul li {
	list-style: none;
}
.nav-link ul li a {
	text-decoration: none;
}
.nav-link-home {
	color: #252432;
	font-weight: 700;
	font-family: "Inter", sans-serif;
}
.nav-link-shop,
.nav-link-about {
	color: #8987a1;
	font-weight: 400;
	font-family: "Inter", sans-serif;
}
.nav-cart {
	display: flex;
	align-items: center;
	gap: 10px;
}
.nav-cart > p {
	font-size: 18px;
	color: var(--primary-color);
	font-weight: 400;
	font-family: "Inter", sans-serif;
}
/* banner section */
.banner {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: end;
}

.banner-title-black,
.banner-title-orange {
	font-size: 55px;
}
.banner-image {
	max-width: 100%;
	max-height: 100%;
}
/* plants section */
.plants-section {
	margin-top: 110px;
}
.plants-section-content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.plants-heading-title {
	margin-bottom: 20px;
}
.plants-card-content {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 30px;
	column-gap: 20px;
}
.plants-card-image {
	width: 100%;
	height: 100%;
}
.plants-card-title,
.plants-card-price {
	color: var(--card-text);
	font-size: 22px;
	font-family: "Inter", sans-serif;
	text-align: center;
}
.plants-card-title {
	font-weight: 500;
	margin-top: 30px;
}
.plants-card-price {
	font-weight: 700;
	margin-top: 20px;
}
.plants-card-btn {
	width: 100%;
	background-color: var(--secondary-color);
	color: var(--accent-text);
	padding: 20px 0;
	font-size: 16px;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	text-align: center;
	border: none;
	margin-top: 30px;
}
/* plants-lover-section */
.plants-lover-section {
	margin-top: 210px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	column-gap: 60px;
}
.plants-lover-image {
	width: 100%;
	height: 100%;
}
.plants-lover-left {
	position: relative;
}
.plants-lover-badge {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 3%;
	right: -42%;
	transform: translate(-50%, -50%);
}
.plants-lover-list-item > li {
	margin-top: 20px;
}
/* latest-section */
.latest-section {
	margin-top: 120px;
}
.latest-section-content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.latest-section-content > p {
	margin-top: 18px;
}
/* latest-section-img */
.latest-section-img {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 2fr;

	gap: 28px;
}
.latest-img-left {
	display: flex;
	flex-direction: column;
	gap: 28px;
}
/*  */
.latest-img-one {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../assets/deal-bloom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 65px 0;
	border-radius: 12px;
}
.latest-img-two {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../assets/deal-ana.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 65px 0;
	border-radius: 12px;
}
.latest-img-left-title {
	color: var(--accent-text);
	font-size: 20px;
	font-weight: 700;
	font-family: "Noto Serif", serif;
	text-align: center;
}
.latest-img-left-link {
	text-align: center;
}
.latest-img-left-link a {
	color: var(--accent-text);
	font-size: 16px;
	font-weight: 600;
	font-family: "Inter", sans-serif;
	margin-top: 18px;
}
.latest-img-righ {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("../assets/deal-zabo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 12px;
	padding: 130px 0;
}
.latest-img-right-title {
	color: var(--accent-text);
	font-size: 40px;
	font-weight: 700;
	font-family: "Noto Serif", serif;
	text-align: center;
}
.latest-img-right-link {
	text-align: center;
}
.latest-img-right-link a {
	color: var(--accent-text);
	font-size: 28px;
	font-weight: 600;
	font-family: "Inter", sans-serif;
	margin-top: 25px;
}
/* join section */
.join-section {
	margin-top: 110px;
}
.join-section-content {
	background-image: url("../assets/news-letter-bg.png");
	background-color: rgba(7, 51, 79, 0.4);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 190px 0;
}
.join-section-title {
	color: var(--accent-text);
	font-size: 50px;
	font-family: "Noto Serif", serif;
	font-weight: 700;
	text-align: center;
}
.join-section-inp-btn {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.join-section-inp-btn input[type] {
	padding-left: 35px;
	width: 45%;
	border: none;
	background-color: var(--accent-text);
}
.join-section-inp-btn input[placeholder] {
	color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
.join-section-inp-btn button {
	padding: 18px 50px;
	border: none;
	color: var(--accent-text);
	background-color: var(--secondary-color);
	font-size: 16px;
	font-family: "Inter", sans-serif;
	font-weight: 600;
}
